# Python
__pycache__/
*.py[cod]

# Virtualenv
.venv/
.cache/

# Django
*.log
staticfiles/
media/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store

# Env
.env
#.env.*

# Docker
pgdata/

git_oncesi_notlar.md
yol_haritasi.md
docker-compose.prod.yml
codex.patch
tcp_settings.md
