# Python
__pycache__/
*.py[cod]

# Virtualenv
.venv/
.cache/

# Django
*.log
staticfiles/
media/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store

# Env
.env
#.env.*

# Docker
pgdata/

git_oncesi_notlar.md
yol_haritasi.md
docker-compose.prod.yml
codex.patch
jules.patch
aws_setup_and_swarm_services_settings.md
kartopu_local_backup.sql
