version: "3.9"

services:
    kartopublog:
        image: ndhakara/kartopu_blog
        init: true
        depends_on:
            - db
            - traefik
        deploy:
            #mode: global
            rollback_config:
                parallelism: 1
                delay: 10s
                failure_action: rollback
                monitor: 5s
            labels:
                - "traefik.enable=true"
                - "traefik.swarm.network=kopru"
                # Routers
                ## HTTPS
                - "traefik.http.routers.kartopublog.rule=(Host(`kartopu.money`) || Host(`www.kartopu.money`))"
                - "traefik.http.routers.kartopublog.entrypoints=websecure"
                - "traefik.http.routers.kartopublog.tls=true"
                # Load Balancer
                - "traefik.http.services.kartopublog.loadbalancer.server.port=9002"
                # Middlewares
                - "traefik.http.routers.kartopublog.middlewares=kartopublog-inflightreq,kartopublog-ratelimit,kartopublog-retry,kartopublog-compress,kartopublog-headers"

                - "traefik.http.middlewares.kartopublog-ratelimit.ratelimit.average=5"
                - "traefik.http.middlewares.kartopublog-ratelimit.ratelimit.sourcecriterion.ipstrategy.excludedips=10.0.2.0/24"

                - "traefik.http.middlewares.kartopublog-retry.retry.attempts=2"
                - "traefik.http.middlewares.kartopublog-retry.retry.initialinterval=100ms"

                - "traefik.http.middlewares.kartopublog-inflightreq.inflightreq.amount=3"
                - "traefik.http.middlewares.kartopublog-inflightreq.inflightreq.sourcecriterion.ipstrategy.excludedips=10.0.2.0/24"

                - "traefik.http.middlewares.kartopublog-compress.compress=true"

                - "traefik.http.middlewares.kartopublog-headers.headers.stsincludesubdomains=true"
                - "traefik.http.middlewares.kartopublog-headers.headers.stspreload=true"
                - "traefik.http.middlewares.kartopublog-headers.headers.stsseconds=63072000"
                - "traefik.http.middlewares.kartopublog-headers.headers.permissionsPolicy=geolocation=(),midi=(),sync-xhr=(),microphone=(),camera=(),magnetometer=(),gyroscope=(),fullscreen=self,payment=()"
                - "traefik.http.middlewares.kartopublog-headers.headers.contentSecurityPolicy=default-src 'self'; script-src 'self' https://burcu-photo.s3.amazonaws.com https://cdn.jsdelivr.net https:; object-src 'self'; style-src 'self' https: data:; img-src 'self' https: data:; media-src 'self'; frame-src 'self'; font-src 'self' https: data:; connect-src 'self' https: data:; frame-ancestors 'self';"
            placement:
                constraints:
                    - node.role==manager
        env_file:
            - ./environments/kartopublog_environment.txt
        environment:
            DJANGO_SECRET: /run/secrets/kartopu-secret-key
            EMAIL_HOST_USER: /run/secrets/email-user
            EMAIL_HOST_PASSWORD: /run/secrets/email-pass
            POSTGRES_USER: /run/secrets/postgres-username
            POSTGRES_PASSWORD: /run/secrets/postgres-password
            AWS_ACCESS_KEY_ID: /run/secrets/aws-kartopu-consumer-access
            AWS_SECRET_ACCESS_KEY: /run/secrets/aws-kartopu-consumer-secret
        secrets:
            - kartopu-secret-key
            - email-pass
            - email-user
            - postgres-username
            - postgres-password
            - aws-kartopu-consumer-access
            - aws-kartopu-consumer-secret
        command: sh -c "uv run python manage.py collectstatic --noinput &&
            uv run python manage.py makemigrations &&
            uv run python manage.py migrate &&
            uv run gunicorn --bind 0.0.0.0:9002 --workers 2 config.wsgi:application"
        networks:
            - kopru
            - backend
        healthcheck:
            test: curl -fsSL -o /dev/null -w '%{http_code}' http://localhost:9002/ping || exit 1
            interval: 15s
            timeout: 5s
            retries: 3
            start_period: 5s

networks:
    kopru:
        external: true
    backend:
        external: true

secrets:
    kartopu-secret-key:
        external: true
    email-pass:
        external: true
    email-user:
        external: true
    postgres-username:
        external: true
    postgres-password:
        external: true
    aws-kartopu-consumer-access:
        external: true
    aws-kartopu-consumer-secret:
        external: true
