services:
    db: # dummy boilerplate for prod
        image: postgres:17
        init: true
        restart: always
        environment:
            POSTGRES_DB: kartopu_db
            POSTGRES_USER: kartopu_user
            POSTGRES_PASSWORD: kartopu_pass
        volumes:
            - pgdata:/var/lib/postgresql/data

    kartopu:
        build:
            context: .
            target: prod
        init: true
        restart: always
        env_file:
            - .env.prod
        ports:
            - "8000:8000"
        volumes:
            - static_volume:/app/staticfiles # move to S3 bucket in future
            - media_volume:/app/media # move to S3 bucket in future
        command: sh -c "uv run python manage.py migrate &&
            uv run python manage.py collectstatic --noinput &&
            uv run gunicorn config.wsgi:application --bind 0.0.0:9002 --workers 2"
        depends_on:
            db:
                condition: service_healthy

volumes:
    pgdata:
    static_volume:
    media_volume:
