services:
    db:
        image: postgres:18
        init: true
        environment:
            POSTGRES_DB: kartopu_db
            POSTGRES_USER: kartopu_user
            POSTGRES_PASSWORD: kartopu_pass
            # v18+ opsional
            PGDATA: /var/lib/postgresql/data/pgdata
        volumes:
            - pgdata:/var/lib/postgresql
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U kartopu_user -d kartopu_db"]
            interval: 5s
            timeout: 5s
            retries: 10

    kartopu:
        build:
            context: .
            target: dev
        init: true
        command: sh -c "uv run python manage.py makemigrations &&
            uv run python manage.py migrate &&
            uv run python manage.py runserver 0.0.0.0:9002"
        volumes:
            - .:/app
            - kartopu_venv:/app/.venv
        ports:
            - "9002:9002"
        env_file:
            - .env
        depends_on:
            db:
                condition: service_healthy

volumes:
    pgdata:
    kartopu_venv:
