{% load cache %}
{% cache 600 sidebar_tags active_tag_slug %}
<section class="sidebar-card">
  <h3 class="sidebar-title">Etiketler</h3>

  <div class="tag-cloud">
    {% for tag in nav_tags %}
      <a
        href="{% url 'blog:tag_detail' tag.slug %}"
        class="tag-cloud__item {{ tag.color_class }} {{ tag.cloud_size_class }} {% if active_tag_slug == tag.slug %}is-active{% endif %}"
      >
        #{{ tag.name }}
      </a>
    {% empty %}
      <span>Henüz etiket yok.</span>
    {% endfor %}
  </div>
</section>
{% endcache %}
